<% include ./partials/header.ejs %>

<div class="container">
    <div id="deee" class="departmentContainer">
<div id="deeerow" class="department-heading" >
    <div class="departmentName"><b>Department of Electrical Engineering</b>
    <div class="plus-icon plus-icon-change"><div class="horizontal-bar"></div><div class="vertical-bar"></div></div>
     
    </div>
</div><div class="teachersCards" id="eeeCards">
    
        <div class="row">
            <% electrical.forEach(function(teacher){ %>
        
            
            <div class="col-md-4">
                <div class="teachers-cards">
                    <div class="teacherImg"><img src="http://vit.ac.in/img/faculty/<%=teacher.empid%>.jpg" alt="<%-teacher.empid%>.jpg"></div>
                    <div class="teacherName"><%=teacher.name%></div>
                    <div class="teacherDeg"><%=teacher.deg%></div>
                    <div class="teacherMobile"><%=teacher.mob%></div>
                    <div class="teacherEmail"><%=teacher.email%></div>
                    <div class="teacherCabin"><%=teacher.cabin%></div>
            </div></div>
            <% }); %>
        
        
        
        
    </div>
        </div></div>
    <div id="deie" class="departmentContainer">
<div id="deierow" class="department-heading" >
    <div class="departmentName"><b>Department of Instrumentation</b>
    <div class="plus-icon plus-icon-change"><div class="horizontal-bar"></div><div class="vertical-bar"></div></div>
     
    </div>
</div>
        <div class="teachersCards" id="eieCards">
    
        <div class="row">
            <% instruments.forEach(function(teacher){ %>
        
            
            <div class="col-md-4">
                <div class="teachers-cards">
                    <div class="teacherImg"><img  src="http://vit.ac.in/img/faculty/<%=teacher.empid%>.jpg"  alt="<%-teacher.empid+".jpg" %>"></div>
                    <div class="teacherName"><%=teacher.name%></div>
                    <div class="teacherDeg"><%=teacher.deg%></div>
                    <div class="teacherMobile"><%=teacher.mob%></div>
                    <div class="teacherEmail"><%=teacher.email%></div>
                    <div class="teacherCabin"><%=teacher.cabin%></div>
            </div></div>
            <% }); %>
        
        
        
        </div>
            </div>
</div>
    <div id="depe" class="departmentContainer">
<div id="deeerow" class="department-heading" >
    <div class="departmentName"><b>Department of Energy and Power Electronics</b>
    <div class="plus-icon plus-icon-change"><div class="horizontal-bar"></div><div class="vertical-bar"></div></div>
     
    </div>
</div><div class="teachersCards" id="epeCards">
    
        <div class="row">
            <% pedrive.forEach(function(teacher){ %>
        
            
            <div class="col-md-4">
                <div class="teachers-cards">
                    <div class="teacherImg"><img  src="http://vit.ac.in/img/faculty/<%=teacher.empid%>.jpg"  alt="<%-teacher.empid+".jpg" %>"></div>
                    <div class="teacherName"><%=teacher.name%></div>
                    <div class="teacherDeg"><%=teacher.deg%></div>
                    <div class="teacherMobile"><%=teacher.mob%></div>
                    <div class="teacherEmail"><%=teacher.email%></div>
                    <div class="teacherCabin"><%=teacher.cabin%></div>
            </div></div>
            <% }); %>
        
        
        
        </div>
    </div>
</div>
    <div id="dcae" class="departmentContainer">
<div id="dcaerow" class="department-heading" >
    <div class="departmentName"><b>Department of Control and Automation</b>
    <div class="plus-icon plus-icon-change"><div class="horizontal-bar"></div><div class="vertical-bar"></div></div>
     
    </div>
</div>
        <div class="teachersCards" id="caeCards">
    
        <div class="row">
            <% controlauto.forEach(function(teacher){ %>
        
            
            <div class="col-md-4">
                <div class="teachers-cards">
                    <div class="teacherImg"><img  src="http://vit.ac.in/img/faculty/<%=teacher.empid%>.jpg"  alt="<%-teacher.empid+".jpg" %>"></div>
                    <div class="teacherName"><%=teacher.name%></div>
                    <div class="teacherDeg"><%=teacher.deg%></div>
                    <div class="teacherMobile"><%=teacher.mob%></div>
                    <div class="teacherEmail"><%=teacher.email%></div>
                    <div class="teacherCabin"><%=teacher.cabin%></div>
            </div></div>
            <% }); %>
        
        
        
        </div>
    </div>
        </div>
</div>
<% include ./partials/footer.ejs %>
